<%- include('partials/header', {title: "HOMEPAGE"}) %>

<% var people = ['YehudaKatz', 'Alan Johnson', 'Charles Jolley'] %>

<ul>
  <% people.forEach(function(personName){ %> <li class="object-scale-down border-t-red-500">Person name = <%= personName.toUpperCase() %></li> <% }); %>
</ul>

<%- include('partials/footer') %>